@model IEnumerable<rental.Models.Car>

@{
    ViewData["Title"] = "Car Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb" >
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Car</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-primary">Car</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- Car categories Start -->
<div class="container-fluid categories py-5" style="background-color: #f8f9fa;">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Vehicle <span class="text-primary">Categories</span></h1>
            <p class="mb-0">
                <h4>  Versatile and practical, our Cars provide additional cargo space and a comfortable ride</h4>
            </p>
        </div>
        <div class="categories-carousel owl-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var car in Model)
            {
                <div class="categories-item p-4">
                    <div class="categories-item-inner">
                        <div class="categories-img rounded-top">
                            @if (!string.IsNullOrEmpty(car.Imagepath))
                            {
                                <img src="~/img/@car.Imagepath" class="img-fluid w-100 rounded-top" alt="@car.CarName">
                            }
                            else
                            {
                                <img src="~/img/default-car.png" class="img-fluid w-100 rounded-top" alt="Default Car Image">
                            }
                        </div>
                        <div class="categories-content rounded-bottom p-4">
                            <h4>@car.CarName</h4>
                            <div class="categories-review mb-4">
                                <!-- Assuming you might have a rating system, adjust as needed -->
                                <div class="me-3">No Reviews</div>
                                <div class="d-flex justify-content-center text-secondary">
                                    <!-- Example static stars, adjust as necessary -->
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="mb-4">
                                @if (decimal.TryParse(car.CarValue2, out decimal dailyRate))
                                {
                                    <h4 class="bg-white text-primary rounded-pill py-2 px-4 mb-0">@string.Format("${0:0.00}/Hour", dailyRate)</h4>
                                }
                                else
                                {
                                    <h4 class="bg-white text-primary rounded-pill py-2 px-4 mb-0">Price Not Available</h4>
                                }
                            </div>
                            <div class="row gy-2 gx-0 text-center mb-4">
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-users text-dark"></i> <span class="text-body ms-1">@car.CarSet Seat</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <!-- You might want to display car transmission type here -->
                                    <i class="fa fa-car text-dark"></i> <span class="text-body ms-1">Auto</span>
                                </div>
                                <div class="col-4">
                                    <!-- You might want to display fuel type here -->
                                    <i class="fa fa-gas-pump text-dark"></i> <span class="text-body ms-1">Fuel Type</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <i class="fa fa-car text-dark"></i> <span class="text-body ms-1">@car.CarColor</span>
                                </div>
                                <div class="col-4 border-end border-white">
                                    <!-- Display manufacture year if available -->
                                    <i class="fa fa-calendar text-dark"></i> <span class="text-body ms-1">@car.CarValue3</span>
                                </div>
                                <div class="col-4">
                                    <!-- Display mileage if available -->
                                    <i class="fa fa-road text-dark"></i> <span class="text-body ms-1">@car.CarValue3</span>
                                </div>
                            </div>
                            <a  href="@Url.Action("Index", "Home")"class="btn btn-primary rounded-pill d-flex justify-content-center py-3">Book Now</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Car categories End -->
