@model rental.Models.Creditcard

@{
    ViewData["Title"] = "Credit Card Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Page Title -->


<!-- Credit Card Information Card -->
<div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Credit Card Information</h4>
    </div>
    <div class="card-body p-5">
        <dl class="row mb-4">
            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Cvv)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cvv)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Cardnumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Cardnumber)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Expiredate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Expiredate)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Balance)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Balance)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-4 text-secondary">
                @Html.DisplayNameFor(model => model.UseracountfkNavigation)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UseracountfkNavigation.UserId)
            </dd>
        </dl>

        <!-- Action Buttons -->
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary btn-lg mr-2" asp-action="Edit" asp-route-id="@Model?.Id">
                <i class="fas fa-edit mr-2"></i>Edit
            </a>
            <a class="btn btn-secondary btn-lg" asp-action="Index">
                <i class="fas fa-arrow-left mr-2"></i>Back to List
            </a>
        </div>
    </div>
</div>
